
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* Custom properties*/
:root {
    --ff-primary: 'Cormorant Garamond', serif;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: whitesmoke;
    --clr-dark: #363636;
    --clr-accent: #72f8fd;
    --clr-highlight: grey;
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-p: 0.75rem;
    --fs-body: 1rem;
    --fs-logo: 1.5rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

    /*for increasing font sizes on different devices*/
@media (min-width: 800px) { 
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-p: 1rem;
        --fs-body: 1.125rem;
        --fs-logo: 2.5rem;    
    }
}

/* General Styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 6em 2em
}

/*Header font formatting*/
h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-p);
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

strong {font-weight: var(--fw-bold);}

li, a {
    font-family: var(--ff-secondary);
    font-weight: 300;
    font-size: 16px;
    color: var(--clr-highlight);
    text-decoration: none;

}


.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    padding-left: 30px;
    width: 100%;
    height: 60px;
    background-color: white;
}

/*in lieu of logo, change to actual png when available*/
.bigname {
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: var(--fs-logo);
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease-in-out 0s;
}
.nav_links li a:hover {
    color: white;
    background-color: grey;
}

.material-icons {
    margin-left: 30px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.material-icons:hover {
    transform: scale(1.25);
}

/*Section Title Styling*/
.section__title {
    margin-bottom: 0.25rem;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);

}


.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding:.25em 1em;
    margin-bottom: 1em;
}

#job-titles, #cursor {
    font-size: 16px;
}

/*Intro Section*/

.intro {
    position: relative;
    margin: auto;
}

.intro__img{
    box-shadow: var(--bs);
}
.section__subtitle--intro {
    display: inline-block;
    grid-template-areas: "l r";
    overflow: hidden;


}

.section__subtitle--intro p:nth-child(1) {
    float:right;

}

.section__subtitle--intro p:nth-child(2) {
    float:right;

}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;

    }

    .intro__img {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
    }
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: 1/3;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5rem;
        width: calc(100% + 1.5em);
    }
}

/*About Me Section*/
.about-me {
    background-color: var(--clr-dark);
    background-image: url(../img/sparks.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--about {
    color: var(--clr-light);
    position: relative;
}

.section__title--about::after {
    content: '';
    display:block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}


@media (min-width: 600px) {
    #skill1 {
        grid-area: title1;
    }
    
    #skill2 {
        grid-area: title2;
    }
    
    #skill3 {
        grid-area: title3;
    }
    
    #sd1 {
        grid-area: p1;
    }
    
    #sd2 {
        grid-area: p2;
    }
    
    #sd3 {
        grid-area: p3;
    }

    .abouts {
        display: grid;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        grid-row-gap: 1em;
        grid-column-gap: 2em;
        grid-template-areas:
        "title1 title2 title3"
        "p1 p2 p3"
    
    }
}

/*My Career Section*/

.my-career {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    box-sizing: border-box;
/*    display: grid;
    grid-template-rows: 
    edu work1 work2 work3 work4 future;*/
}

.section__title--career {
    color: var(--clr-dark);
    position: relative;
}

.section__title--career::after {
    content: '';
    display:block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}

.tab {
    visibility: collapse;
    height: min-content;
}

@media (min-width: 600px) {
    .tab{
        visibility: visible;
        background-color: var(--clr-dark);
        font-family: var(--ff-secondary);
        font-size: 1rem;
        color: var(--clr-light);
        border: 1px solid var(--clr-light);
        border-right: hidden;
        cursor: pointer;
        height: 30px;
    }
    
    .tab:hover {
        background-color: #777777;
        color: var(--clr-light);
        transition: all 0.3s ease-in;
    }

    .tab.active {
        background-color: #cccccc;
        color: var(--clr-dark);
    }

    button:focus {outline:0 !important;}

    #tablink1{
        grid-area: tablink1;
    }
    #tablink2{
        grid-area: tablink2;
    }
    #tablink3{
        grid-area: tablink3;
    }
    #tablink4{
        grid-area: tablink4;
    }
    #tablink5{
        grid-area: tablink5;
    }
    #tablink6{
        grid-area: tablink6;
    }

    .tabcontent {
        display: none;
        padding: 1em 1.5em;
        grid-area: content;
        text-align: left;
        animation: fadeEffect 1s;
    }

    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    .scrolling-tab {
        display: grid;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        grid-template-areas: 
        "tablink1 tablink2 tablink3 tablink4 tablink5 tablink6"
        "content content content content content content";

    }
}








/*button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

}